@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-red-500;
}

@page :right {
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: 0.25pt solid theme('colors.slate.600');
    content: 'Our Dogs';
    font-size: 9pt;
    color: theme('colors.rose.500');
  }
}
