@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-red-500;
}

@page :right {
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: 0.25pt solid #666;
    content: 'Our Dogs';
    font-size: 9pt;
    @apply text-red-400;
  }
}
